div {
  background-color: rgb(251, 255, 27);
  padding: 15px;
  text-align: center;
  margin: 20px;
}
.blog {
  text-align: justify;
  background-color: steelblue;
  color: blanchedalmond;
  font-size: larger;
}
